[Unit]
Description=obi.pub server
ConditionPathExists=/root/.obi/bin/obi
After=network.target

[Service]
Type=simple
User=root
LimitNOFILE=1024
PermissionsStartOnly=true

Restart=on-failure
RestartSec=100ms
StartLimitIntervalSec=60

WorkingDirectory=/root/obipub
ExecStart=/root/.obi/bin/obi ./registry/server.obi

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/obipub
ExecStartPre=/bin/chown syslog:adm /var/log/obipub
ExecStartPre=/bin/chmod 755 /var/log/obipub
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=obi.pub

[Install]
WantedBy=multi-user.target
